*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/cripto.jpg);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;

}

.card-geral{
    height: 150px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid #EEAD2D;
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 25px;
}

label{
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: black;   
    text-transform: uppercase;
    padding-bottom: 30px;
}

p{
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;}

#criptomoeda{
    text-align-last:center;
}
